@(form: Form[models.Login])@main("Login Cucumber") {
    @helper.form(routes.HomeController.login, 'class -> "form-signin") {

            <h2 class="form-signin-heading">Login</h2>

            @if(form.hasGlobalErrors) {
                <p class="text-error">
                    @form.globalError.message
                </p>
            }

            @if(flash.contains("failure")) {
                <p class="text-error">
                    @flash.get("failure")
                </p>
            }

            <p>
                <input type="text" class="input-block-level" name="user" placeholder="Username" value='@form("user").value'>
            </p>
            <p>
                <input type="password" class="input-block-level" name="password" placeholder="Password" value='@form("password").value'>
            </p>
            <p>
                <button class="btn btn-large btn-primary" type="submit">Login</button>
            </p>
        }
}
